* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  margin-top: 4vh;
  height: 4vh;
  margin-left: 15vh;
}

.navbar {
  display: flex;
}

.navbar_menu {
  margin-left: 30vh;
  display: flex;
  text-decoration: none;
}
.navbar_menu li {
  list-style: none;
}
.navbar_menu a {
  text-decoration: none;
}

.border {
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 10vh;
  margin-top: 4.5vh;
}
.border a {
  color: black;
}

.links {
  margin-top: 5.5vh;
}
.links a {
  color: black;
  margin-left: 9vh;
  font-family: "Poppins", sans-serif;
}

.arrow {
  width: 1.2vh;
  height: 0.4vw;
  margin-top: 6.7vh;
  margin-left: 0.5vw;
}

.categorytitle {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  padding-left: 80vh;
}

.catsubtitle {
  color: #14183E;
  font-family: "Volkhov", sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 16vh;
}

.cattitle {
  font-size: 4.5vh;
  color: #14183E;
  font-family: "Volkhov", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}

.decorcat {
  display: flex;
  flex-direction: row;
  width: 15vh;
}

.catdecor {
  display: flex;
  flex-direction: row;
  margin-left: 48vh;
}

.catdiv {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
}

.offercards {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 429px;
  grid-column: 1/2;
  grid-row: 1/2;
  gap: 5px;
}

.card1:hover {
  background-image: url("img/Group 590.png");
  background-size: 48vh 60vh;
  background-repeat: no-repeat;
}

.cardimg {
  width: 10vh;
  height: 10vh;
  margin-left: 19vh;
  margin-bottom: 3vh;
}

.cardimg2 {
  width: 15vh;
  height: 13vh;
  margin-left: 19vh;
  margin-bottom: 3vh;
}

.cardtitle {
  color: #181E4B;
  font-family: "Volkhov", sans-serif;
  text-align: center;
}

.cardtxt {
  color: #181E4B;
  font-family: "Volkhov", sans-serif;
  text-align: center;
  margin-top: 2.8vh;
  margin-left: 15vh;
  font-size: 16px;
  margin-right: 15vh;
  line-height: 26px;
}

.destinationdiv {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
}

.div2title {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.destsubtitle {
  color: #14183E;
  font-family: "Volkhov", sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 99vh;
}

.destdivtitle {
  font-size: 4.5vh;
  color: #14183E;
  font-family: "Volkhov", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  margin-left: 85vh;
}

.destinationcards {
  min-width: 170vh;
  margin-left: 14.5vh;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 530px;
  grid-column: 1/2;
  grid-row: 1/2;
  gap: 10px;
}

.dest1 {
  background-image: url("img/Group 591.png");
  background-size: 60vh 75vh;
  background-repeat: no-repeat;
}

.dest1 {
  background-image: url("img/Group 591.png");
  background-size: 60vh 75vh;
  background-repeat: no-repeat;
}

.dest2 {
  background-image: url("img/Group 592.png");
  background-size: 60vh 75vh;
  background-repeat: no-repeat;
}

.dest3 {
  position: relative;
  z-index: 2;
  background-image: url("img/Group 593.png");
  background-size: 60vh 75vh;
  background-repeat: no-repeat;
}

.decordest {
  position: relative;
  z-index: 1;
  display: flex;
  margin-left: 45vh;
}

.p1 {
  display: flex;
  flex-direction: row;
}

.p2 {
  display: flex;
  flex-direction: row;
}

.towname {
  display: flex;
  margin-left: 13vh;
  margin-top: 41vh;
}

.price {
  display: flex;
  margin-left: 16vh;
  margin-top: 41vh;
}

.icondest {
  display: flex;
  margin-left: 13vh;
  margin-top: 2.5vh;
}

.triptime {
  display: flex;
  margin-left: 2vh;
  margin-top: 2.5vh;
}

.headersize {
  width: 100%;
  height: 100vh;
}

.headerback {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/Group 594.png");
}

.subtitle {
  font-family: "Poppins", sans-serif;
  color: #DF6951;
  margin-left: 15vh;
  margin-top: 17vh;
  font-size: 2.5vh;
  font-weight: bold;
}

.title {
  color: #181E4B;
  font-family: "Volkhov", serif;
  font-weight: bold;
  margin-left: 15vh;
  margin-top: 5vh;
  font-size: 75px;
}

.text {
  color: #181E4B;
  font-family: "Volkhov", sans-serif;
  margin-left: 15vh;
  margin-top: 5vh;
  font-size: 17px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.finding {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: #F1A501;
  box-shadow: 5px #F1A501;
  padding: 3vh;
  margin-top: 3vh;
  padding-left: 3vh;
  margin-left: 15vh;
  border-radius: 17px;
  margin-bottom: 5vh;
}
.finding a {
  text-decoration: none;
  color: white;
}

.play_button {
  display: flex;
  width: 7vw;
  height: 15vh;
  margin-top: 2vh;
}

.traveller {
  margin-top: 3vh;
  display: flex;
  height: 85vh;
}

.containall {
  display: flex;
  width: 46vw;
}

.contain {
  display: flex;
  flex-direction: column;
}

.contain2 {
  display: flex;
}

.containimgtext {
  display: flex;
}

.playmsg {
  font-family: "Poppins", sans-serif;
  display: flex;
  margin-top: 6vh;
}

/*# sourceMappingURL=style.css.map */
