

.categorytitle {
    @include categorytitle;
}


.catsubtitle {
    @include catsubtitle;
}


.cattitle {
    @include cattitle;
}

.decorcat {
    @include decorcat;
}

.catdecor {
    @include catdecor;
}

.catdiv {
    @include catdiv;
}

.offercards {
    @include offercards;
}


.card1:hover {
    @include card1;
}

.cardimg {
    @include cardimg;
}

.cardimg2 {
    @include cardimg2;
}


.cardtitle {
    @include cardtitle;
}

.cardtxt {
    @include cardtxt;
}


.destinationdiv {
    @include destinationdiv;
}

.div2title {
    @include div2title;
}

.destsubtitle {
    @include destsubtitle;
}

.destdivtitle {
    @include destdivtitle;
}




.destinationcards {
    @include destinationcards;
}


.dest1 {
    @include dest1;
}


.dest1 {
    @include dest1;
}

.dest2 {
    @include dest2;
}

.dest3 {
    @include dest3;
}

.decordest {
    @include decordest;
}

.p1 {
    @include p1;
}

.p2 {
    @include p2;
}



.towname {
    @include towname;
}

.price {
    @include price;
}

.icondest {
    @include icondest;
}

.triptime {
    @include triptime;
}

.content4 {
    @include content4;
}


.content5 {
    @include content5;
}



.titlenexttrip {
    @include titlenexttrip;
}

.subtitlenexttrip {
    @include subtitlenexttrip;
}

.bookmsg1 {
    @include bookmsg1;
}


.bookmsg2 {
    @include bookmsg2;
}

.bookmsg3 {
    @include bookmsg3;
}




p {

    @include p;

}


.imgbook1 {
    @include imgbook1;
}

.imgbook2 {
    @include imgbook2;
}

.imgbook3 {
    @include imgbook3;
}


.titlebook {
    @include titlebook;
}

.subtitlebook {
    @include subtitlebook;
}

.divcomments {
    @include divcomments;
}

.gridtrip {
    @include gridtrip;
}

.cardgreece {
    @include cardgreece;
}

.decorcardgreece {
    @include decorcardgreece;
}


.cadrecomment {
    @include cadrecomment;
}

.points {
    @include points;
}

.decorcardcomment {
    @include decorcardcomment;
}

.profilepic1 {
    @include profilepic1;
}


.divicons {
    @include divicons;

    
}


.logo1, .logo2, .logo3, .logo4, .logo5, .logo6 {
    @include logo1;
    
}

.spons {
    @include spons;
}

.spons2 {
    @include spons2;
}

.formsec {
    @include formsec;
}

.decorform {
    @include decorform;
}

.titleform {
    @include titleform;
}

.formaskmail {
    @include formaskmail;
}


.inputmail {
    @include inputmail ;
}

.btnmail {
    @include btnmail ;
}


.footer {
    @include footer;
}

.markfoot {
    @include markfoot;
}

.compfoot {
    @include compfoot;

    a {
        text-decoration: none;
        color: #5E6282;
        margin-bottom: 1.5vh;
    }
}

.contactfoot {
    @include contactfoot;

    a {
        text-decoration: none;
        color: #5E6282;
        margin-bottom: 1.5vh;
    }
}

.morefoot {
    @include morefoot;

    a {
        text-decoration: none;
        color: #5E6282;
        margin-bottom: 1.5vh;
    }
}

.socialfoot {
    @include socialfoot;
}

.footdivtitle {
    @include footdivtitle;
}

.footdesc {
    @include footdesc;

    p {
        color: #5E6282;
    }
}

.titlesummary {
    @include titlesummary;
}

.sociallinkfoot {
    @include sociallinkfoot;
}

.appdiscfoot {
    @include appdiscfoot;
}

.appdisc {
    @include appdisc;
}

.divdownload {
    @include divdownload;
}

.gplay {
    @include gplay;
}

.appstr {
    @include appstr;
}

.credit {
    @include credit;
}

