@mixin headersize {
    width: 100%;
    height: 100vh;
}


@mixin headerback {
    
    background-size: cover;

    background-repeat: no-repeat;
    
    background-image: url('img/Group 594.png') ;
    
    
    
    


    
    
    
}



@mixin logo {
    display: flex; 
    margin-top: 4vh;
    height: 4vh;
    margin-left: 15vh;
}

@mixin navbar {
    display: flex; 
}

@mixin navbar_menu {
    margin-left: 30vh;
    display: flex;
    text-decoration: none;
    
}

@mixin links {
    margin-top: 5.5vh;
    
    
    
    a {
        color: black;
        margin-left: 9vh;
        font-family: 'Poppins', sans-serif;
    }
    
}

@mixin border {
    font-family: 'Poppins', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 10vh;
    margin-top: 4.5vh;
    
    a {
        color: black;
    }
}


@mixin subtitle {
    font-family: 'Poppins', sans-serif;
    color: #DF6951;
    margin-left: 15vh;
    margin-top: 17vh;
    font-size: 2.5vh;
    font-weight: bold;


}

@mixin title {
    color: #181E4B;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    margin-left: 15vh;
    margin-top: 5vh;
    font-size: 75px;

}


@mixin text {

    color: #181E4B;
    font-family: 'Volkhov', sans-serif;
    margin-left: 15vh;
    margin-top: 5vh;
    font-size: 17px;
}

@mixin buttons {
    display: flex;
    flex-direction: row;

    
}

@mixin finding {
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-color: #F1A501;
    box-shadow:  5px #F1A501;
    padding: 3vh;
    margin-top: 3vh;
    padding-left: 3vh;
    margin-left: 15vh;
    border-radius: 17px;
    margin-bottom: 5vh;
    
    
    a {
        text-decoration: none;
        color: white;
}

}


@mixin play_button {
    display: flex;
    width: 7vw;
    height: 15vh;
    margin-top: 2vh;
    


}

@mixin contain {
    display: flex;
    flex-direction: column;
}

@mixin contain2 {
    display: flex;
}

@mixin traveller {
    margin-top: 3vh;
    display: flex;
    height: 85vh;
}

@mixin containall {
    display: flex;
    width: 46vw;
}   

@mixin containimgtext {
    display: flex;
}

@mixin playmsg {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: 6vh;
}

@mixin arrow {
    
    width: 1.2vh;
    height: 0.4vw;
    margin-top: 6.7vh;
    margin-left: 0.5vw;

}


@mixin categorytitle {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    padding-left: 80vh;
}

@mixin catsubtitle {
    font-size: 2vh;
    color: #5E6282;
    font-family: 'Volkhov', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 16vh;
    
    
}

@mixin cattitle {
    font-size: 4.5vh;
    color: #14183E;
    font-family: 'Volkhov', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    
}

@mixin decorcat {
    display: flex;
    flex-direction: row;
    width: 15vh;
    
    
}

@mixin catdecor {
    display: flex;
    flex-direction: row;
    margin-left: 48vh;
}   

@mixin catdiv {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}




@mixin offercards {
    
    margin-top: 7vh;
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 429px;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 5px;
    

}



@mixin card1 {
    background-image: url('img/Group 590.png');
    background-size: 48vh 60vh;
    background-repeat: no-repeat;
}

@mixin cardimg {
    width: 10vh;
    height: 10vh;
    margin-left: 19vh;
    margin-bottom: 3vh;
}

@mixin cardimg2 {
    width: 15vh;
    height: 13vh;
    margin-left: 19vh;
    margin-bottom: 3vh;
}


@mixin cardtitle {
    color: #181E4B;
    font-family: 'Volkhov', sans-serif;
    text-align: center;
    
    
}

@mixin cardtxt {
    color: #181E4B;
    font-family: 'Volkhov', sans-serif;
    text-align: center;
    margin-top: 2.8vh;
    margin-left: 15vh;
    font-size: 16px;
    margin-right: 15vh;
    line-height: 26px;
}











@mixin destinationcards {
    display: flex;
    min-width: 170vh;
    margin-left: 14.5vh;
    margin-top: 10vh;
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 520px;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 10px;
}


@mixin destinationdiv {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}



@mixin div2title {
    height: fit-content;
    display: flex;
    flex-direction: column;
}


@mixin destsubtitle {
    font-size: 2vh;
    color: #5E6282;
    font-family: 'Volkhov', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 99vh;
    
}


@mixin destdivtitle {
    font-size: 4.5vh;
    color: #14183E;
    font-family: 'Volkhov', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 85vh;
    
}


@mixin dest1 {
    background-image: url('img/Group 591.png');
    background-size: 60vh 75vh;
    background-repeat: no-repeat;
}


@mixin dest2 {
    background-image: url('img/Group 592.png');
    background-size: 60vh 75vh;
    background-repeat: no-repeat;
}

@mixin dest3 {

    position: relative;
    z-index: auto;

    background-image: url('img/Group 593.png');
    background-size: 60vh 75vh;
    background-repeat: no-repeat;
}



@mixin p1 {
    display: flex;
    flex-direction: row;
}

@mixin p2 {
    display: flex;
    flex-direction: row;
}


@mixin towname {
    display: flex;
    margin-left: 13vh;
    margin-top: 41vh;

}


@mixin price {
    display: flex;
    margin-left: 16vh;
    margin-top: 41vh;

}

@mixin icondest {
    display: flex;
    margin-left: 13vh;
    margin-top: 2.5vh;
    height: 20px;
    width: 20px;
    
}


@mixin triptime {
    display: flex;
    margin-left: 2vh;
    margin-top: 2.5vh;
    
}


@mixin  decordest {
    position: absolute;
    z-index: auto;

    display: flex;
    margin-left: 45vh;
    top: 25%;
    
    
}


@mixin content4 {
    margin-left: 10vh;
    margin-bottom: 20vw;
    height: 50vh;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    
    


}



@mixin content5 {
    height: 50vh;
    display: flex;

    flex-direction: row;
    


}



@mixin titlenexttrip {
    margin-bottom: 2vh;
    font-size: 4.5vh;
    color: #14183E;
    font-family: 'Volkhov', sans-serif;
}

@mixin subtitlenexttrip {
    font-size: 2vh;
    margin-bottom: 2vh;
    color: #5E6282;
    font-family: 'Volkhov', sans-serif;
}


@mixin bookmsg1 {
    
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
}

@mixin bookmsg2 {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
}

@mixin bookmsg3 {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
}



@mixin imgbook1 {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 47px;
    height: 48px;
    
    


    
}


@mixin imgbook2 {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 47px;
    height: 48px;
    
    


    
}


@mixin imgbook3 {
    position: absolute;
    margin-top: 0h;
    display: flex;
    flex-direction: column;
    width: 47px;
    height: 48px;
    
    

}


@mixin titlebook  {
    font-size: 2vh;
    color: #5E6282;
    font-family: 'Volkhov', sans-serif;
    font-weight: bold;
}

@mixin p {
    color: #5E6282;
    margin-left: 9vh;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    flex-direction: row;
}




@mixin gridtrip {
    margin-left: 14vh;

    display: grid;   
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600x;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 10px;

}

@mixin cardgreece {

    background-image: url('img/Image (1).png');
    
    margin-left: 5vh;

    height: 99vh;
    width: 41vw;
}


@mixin divcomments {
    margin-top: 15vh;
    margin-left: 20vh;
    

    display: grid;   
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 10px;


}

@mixin decorcardgreece {
    position: relative;
    

    display: flex;
    margin-left: 30vh;
    top: 57%;
}


@mixin cadrecomment {
    background-image: url('img/Group 64.png');
    
    
    margin-right: 10vh;
    height: 60vh;
    width: vw;
}


@mixin points {
    cursor: pointer;
    margin-top: 13vh;
}


@mixin decorcardcomment {
    cursor: pointer;
    position: relative;
    

    display: flex;
    margin-left: 89vh;
    top: 11%;
}

@mixin profilepic1 {
    position: relative;
    

    display: flex;
    margin-left: 6vh;
    top: 0;
}


@mixin divicons {
    margin-top: 5vh;
    margin-left: 7vh;


    display: grid;   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    min-width: 130vh;
    grid-column: 1/2;
    grid-row: 1/2;
    gap: 10px;



}


@mixin logo1 {

    &:hover{
        background-image: url('img/Rectangle 18.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@mixin spons {

    position: relative;

    
    width: 5vw;
    height: 15vh;
    left: 33%;
    
    
}


@mixin spons2 {

    position: relative;

    
    width: 8vw;
    height: 8vh;
    left: 33%;
    
    
}